header
{
background-color: paleturquoise;
}
nav
{
   background-color: khaki ;
   padding: 10px;
}
section
{
    background-color: tomato;
    float: left;
    width: 60%;
}
aside
{
    background-color: tomato;
    float: left;
    width: 40%;
}
.contenedor::after
{
   
    clear: both;
    display: block;
    content: "";
}
footer
{
    background-color: black;
    color: cyan;
    padding: 10px;
}
